<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <link rel="stylesheet" href="/css/discussion.css" />
    <link
      rel="stylesheet"
      href="/css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <title>The notes APP</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <div class="right">
            <li><a href="index" class="na-item">Home</a></li>
            <li><a href="" class="na-item">tab1</a></li>
            <li><a href="discussion" class="na-item">Discussion</a></li>
            <li><a href="" class="na-item">Notes Database</a></li>
          </div>
          <div class="left">
            <li>
              <a href="takenotes" class="na-item"
                ><i class="bi bi-file-earmark-plus-fill"></i> take note</a
              >
            </li>
            <li><a href="profile" class="na-item">Profile</a></li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero">
        <div class="container">
          <div class="t-text">
            <h1 id="text">Discussion</h1>
            <img
              src="/images/speech-bubbles-303206_1280.png"
              alt=""
              height="100"
              width="100"
            />
          </div>
          <img src="/images/death-7333595_1280.png" alt="" class="einstein" />
        </div>
      </section>
      <% for (let note of data){ %>
      <div class="container">
        <h2 class="title"><%= note.name%></h2>
        <div class="threads">
          <h3 class="person"><%= note.publisher %></h3>
          <p class="blog"><%= note.description %></p>
        </div>
        <%for (let comment of note.comments){ %>
        <div class="comments">
          <h4 class="person" style="margin-top: 10px">
            <%= comment.commenterName %>
          </h4>
          <p class="evaluation"><%= comment.comment %></p>
        </div>
        <% } %>
        <div class="judgment">
          <form action="/api/notes/comment" method="post" name="comments">
            <div class="reactions">
              <div class="left">
                <input type="hidden" name="noteId" value="<%= note.id %>" />
                <textarea
                  name="comment"
                  id="comment"
                  placeholder="Write a Comment..."
                ></textarea>
              </div>
              <div class="right">
                <div class="circle">
                  <button type="submit">
                    <i class="bi bi-arrow-right-short"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <% } %>
    </main>
    <footer></footer>
  </body>
</html>
